In [13]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder,OneHotEncoder
import pickle

In [14]:
df=pd.read_csv(r"C:\Users\ShivaGanesna\Downloads\annclassification\annclassification\Churn_Modelling.csv")

In [15]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

Preprocess data

In [16]:
df = df.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [17]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

Convert Categorical into numerical

In [18]:
label_encoder_gender = LabelEncoder()
df['Gender'] = label_encoder_gender.fit_transform(df['Gender'])
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,1,39,5,0.00,2,1,0,96270.64,0
9996,516,France,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,0,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,0,28,4,130142.79,1,1,0,38190.78,0

In [19]:
Label_encoder_geography = LabelEncoder()
df_Label_encoder = df.copy()
df_Label_encoder['Geography'] = Label_encoder_geography.fit_transform(df_Label_encoder['Geography'])    
df_Label_encoder

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,0,1,112542.58,0
2,502,0,0,42,8,159660.80,3,1,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,0,1,39,5,0.00,2,1,0,96270.64,0
9996,516,0,1,35,10,57369.61,1,1,1,101699.77,0
9997,709,0,0,36,7,0.00,1,0,1,42085.58,1
9998,772,1,1,42,3,75075.31,2,1,0,92888.52,1
9999,792,0,0,28,4,130142.79,1,1,0,38190.78,0

In [40]:
One_Hot_Encoder_geography = OneHotEncoder()
df_One_Hot_Encoder = df.copy()
df_One_Hot_Encoder
x = One_Hot_Encoder_geography.fit_transform(df_One_Hot_Encoder[['Geography']]).toarray()
x

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [47]:
Encoded_df = pd.DataFrame(x,columns=One_Hot_Encoder_geography.get_feature_names_out(['Geography']))
Encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [48]:
data=pd.concat([df_One_Hot_Encoder.drop('Geography',axis=1),Encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [49]:
with open('LabelEncoder_Gender.pkl','wb') as f:
    pickle.dump(label_encoder_gender,f)
with open('OneHotEncoder_Geography.pkl','wb') as f:
    pickle.dump(One_Hot_Encoder_geography,f)

In [58]:
X = data.drop(['Exited'],axis= 1)
X
y = data['Exited']
type(y)
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [59]:
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

In [60]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From c:\Users\ShivaGanesna\Downloads\IGTMUAD\20251227\.venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [61]:
(X_train.shape,)

((8000, 12),)

In [62]:
## Build Our ANN Model
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ## HL1 Connected wwith input layer
    Dense(32,activation='relu'), ## HL2
    Dense(1,activation='sigmoid')  ## output layer
]

)

WARNING:tensorflow:From c:\Users\ShivaGanesna\Downloads\IGTMUAD\20251227\.venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [63]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [64]:
import tensorflow
opt=tensorflow.keras.optimizers.Adam(learning_rate=0.01)
loss=tensorflow.keras.losses.BinaryCrossentropy()
loss

In [65]:
## compile the model
model.compile(optimizer=opt,loss="binary_crossentropy",metrics=['accuracy'])

In [70]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [71]:
## Set up Early Stopping
from tensorflow.keras.callbacks import EarlyStopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [72]:
### Train the model
history=model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\ShivaGanesna\Downloads\IGTMUAD\20251227\.venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\ShivaGanesna\Downloads\IGTMUAD\20251227\.venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 3ms/step - loss: 0.3925 - accuracy: 0.8404 - val_loss: 0.3564 - val_accuracy: 0.8575
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3543 - accuracy: 0.8572 - val_loss: 0.3450 - val_accuracy: 0.8570
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3481 - accuracy: 0.8574 - val_loss: 0.3424 - val_accuracy: 0.8560
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3418 - accuracy: 0.8612 - val_loss: 0.3497 - val_accuracy: 0.8500
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3417 - accuracy: 0.8609 - val_loss: 0.3474 - val_accuracy: 0.8590
Epoch 6/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3384 - accuracy: 0.8606 - val_loss: 0.3504 - val_accuracy: 0.8585
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3386 - accuracy: 0.8627 - val_loss: 0.3508 - val_accuracy: 0.8545
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8639 - val_loss: 0.3375 - val_accuracy: 0.8625
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8639 - val_loss: 0.3468 - val_accuracy: 0.8550
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3295 - accuracy: 0.8621 - val_loss: 0.3466 - val_accuracy: 0.8575
Epoch 11/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3290 - accuracy: 0.8645 - val_loss: 0.3510 - val_accuracy: 0.8540
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3243 - accuracy: 0.8649 - val_loss: 0.3496 - val_accuracy: 0.8615
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3262 - accuracy: 0.8641 - val_loss: 0.3510 - val_accuracy: 0.8635
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3242 - accuracy: 0.8652 - val_loss: 0.3549 - val_accuracy: 0.8615
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3254 - accuracy: 0.8635 - val_loss: 0.3533 - val_accuracy: 0.8570
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3231 - accuracy: 0.8676 - val_loss: 0.3495 - val_accuracy: 0.8640
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3159 - accuracy: 0.8685 - val_loss: 0.3624 - val_accuracy: 0.8620
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3158 - accuracy: 0.8705 - val_loss: 0.3609 - val_accuracy: 0.8615

In [73]:
model.save('model.h5')

c:\Users\ShivaGanesna\Downloads\IGTMUAD\20251227\.venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [76]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [75]:
%tensorboard --logdir logs/fit