In [1]:
import pandas as pd

In [7]:
x = [1,2,4,5,7,84,3,5]
y = [0,1,3,4,5,7,8,3]
df = pd.Series(x,index = y)
df

0     1
1     2
3     4
4     5
5     7
7    84
8     3
3     5
dtype: int64

In [8]:
x = [1,2,4,5,7,84,3,5]
y = [0,1,3,4,5,7,8,3]
df = pd.DataFrame(x,index = y)
df

    0
0   1
1   2
3   4
4   5
5   7
7  84
8   3
3   5

In [ ]:
x = {1:2,2:3,4:5,5:6}
df = pd.Series(x)
df

1    2
2    3
4    5
5    6
dtype: int64

In [14]:
x = {'a':2,'b':3,'c':5,'d':6}
df = pd.DataFrame(x)
df

ValueError: If using all scalar values, you must pass an index

In [16]:
x = {
    'a' : [1,2,3,4,5],
    'b' : [2,354,631,11,3]
}
df = pd.Series(x)
df

a         [1, 2, 3, 4, 5]
b    [2, 354, 631, 11, 3]
dtype: object

In [17]:
x = {
    'a' : [1,2,3,4,5],
    'b' : [2,354,631,11,3]
}
df = pd.DataFrame(x)
df

   a    b
0  1    2
1  2  354
2  3  631
3  4   11
4  5    3

In [12]:
x = [
    {'a' : [1,2,3,4,5]},
    {'b' : [2,354,631,11,3]}
]
df = pd.DataFrame(x)
df

                 a                     b
0  [1, 2, 3, 4, 5]                   NaN
1              NaN  [2, 354, 631, 11, 3]

In [18]:
df.loc[0]

a    1
b    2
Name: 0, dtype: int64

In [19]:
df.iloc[0]

a    1
b    2
Name: 0, dtype: int64

In [22]:
df.at[0,'a']

np.int64(1)

In [23]:
df.describe()

              a           b
count  5.000000    5.000000
mean   3.000000  200.200000
std    1.581139  284.258157
min    1.000000    2.000000
25%    2.000000    3.000000
50%    3.000000   11.000000
75%    4.000000  354.000000
max    5.000000  631.000000